P{
    FONT-size: 20px
   /* font-size: monospace; */
    font-weight: lighter;
    font-syle: normal;
    /*text-decoration: underline; */
    text-transform: none;
    text-align: RIGHT;
    margin-left: 50% ;
    vertical-align: : top;
    white-space: pre-line;
    


}
h1{
    /*font-size: 20px; */
}
